{
  "extends": [
    "airbnb-typescript-prettier",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": ["warn"],
    "prettier/prettier": ["error", {
      "singleQuote": true
    }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-console": "warn",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["hrefLeft", "hrefRight"],
      "aspects": ["invalidHref", "preferButton"]
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}